@font-face {
  font-family: 'CSChatThaiUI';
  src: url('../fonts/CSChatThaiUI.eot');
  src: url('../fonts/CSChatThaiUI.eot?#iefix') format('embedded-opentype'),
       url('../fonts/CSChatThaiUI.woff2') format('woff2'),
       url('../fonts/CSChatThaiUI.woff') format('woff'),
       url('../fonts/CSChatThaiUI.ttf') format('truetype'),
       url('../fonts/CSChatThaiUI.svg#CSChatThaiUI') format('svg');
  font-weight: normal;
  font-style: normal;
}