@media screen and (max-width: 768px) { }

body{
	/*margin-top: 58px;*/
	padding-top: 58px;
		margin-top: 0;
}
.home-section {
  padding-top: 10px;
}
.mobile-menu-wrapper{
	position: fixed;
	top: 0;
	z-index: 99;
	width: 100%;
	box-shadow:2px 2px 2px rgba(0, 0, 0, 0.25);
}
#quote{
	font-size: 4vw;
	background:url(../img/sample/sample005.jpg);
	background-position: center center ;
	background-repeat: no-repeat;
	background-size: auto 100%;
}
.quote::before, .quote::after{
    font-size: 6vw;
    line-height: 1;
    color: #000000;
}

.org-table tr td{
	display: block;
  width: 100%;
  word-wrap: normal;
  white-space: nowrap;
}
.org-table .org-title{
	text-align: left;
}
.org-table .org-name{ 	margin-bottom: 5px; }


.page-title{
    height: 100px;
    text-align: center;
    line-height: 1.6;
    padding: 25px 0;
}
.page-title h1{
   font-size: 30px;
  color: #ed2239;
}