/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url("font.css");

body{
	font-family: 'CSChatThaiUI';
	font-size: 16px;
	line-height: 1.6;
	/*margin-top: 74px;*/
	margin-top: 104px;
	quotes: '\201c' '\201d';
	position: relative;
}

a:hover{
	text-decoration: none;
}

.color-blue{
	color:#0053ff;
}
.no-border{
	border:none !important;
}


/* MENU */
.menu{
	background: rgba(255, 255, 255, 0.85);
	box-shadow:2px 2px 2px rgba(0, 0, 0, 0.25);
}
.main-menu{
	margin: 30px 0;
	text-align: right;
	position: relative;
	height: 44px;
	 -webkit-transition: margin .2s ease-in-out;
  -moz-transition: margin .2s ease-in-out;
  -o-transition: margin .2s ease-in-out;
  -ms-transition: margin .2s ease-in-out;
  transition: margin .2s ease-in-out;
}
.main-menu li{
	margin-top:7px;
}
.main-menu .logo{
	margin-right:  15px !important;
	position: absolute;
	left: 0;
	top: -15px;
		-webkit-transition: top .2s ease-in-out;
  -moz-transition: top .2s ease-in-out;
  -o-transition: top .2s ease-in-out;
  -ms-transition: top .2s ease-in-out;
  transition: top .2s ease-in-out;
}
.main-menu .logo img{ 
	height: 74px; 
	-webkit-transition: height .2s ease-in-out;
  -moz-transition: height .2s ease-in-out;
  -o-transition: height .2s ease-in-out;
  -ms-transition: height .2s ease-in-out;
  transition: height .2s ease-in-out;
}

.main-menu a{
	font-size: 18px;
	color: #2f2e7b;
	font-weight: bold;
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}
.main-menu a:hover{ 
	/*color: #ef2139; */
	text-decoration: none;
}


/* Main Menu + header small*/
.main-menu.header-small{
	margin: 5px 0;
	text-align: right;
	position: relative;
	height: 44px;
}
.main-menu.header-small .logo{	top: 0;}
.main-menu.header-small  .logo img{ height: 44px; }


/* MOBILE MENU*/
#mobile-menu{
	display:none;
}
.slicknav_menu{
	background-color: #ffffff;
}
.slicknav_menu a{
	color:#222;
	font-size: 18px;
}

/* SECTION Carousel */
#Carousel img{
	width: 100%;
	max-width: 100%
}
.owl-theme .owl-controls {
    position: absolute;
    bottom: 25px;
    width: 100%;
}
.owl-theme .owl-controls .owl-page span{
	background: #ffffff !important;
}

/* HOME SECTION*/

.home-section {
	padding-top:75px;
	min-height: 100vh;
}
.parallax-window {
  background: transparent;
}
.section-topic{
	font-weight: bold;
}
.bgwhite-8{
	background-color: rgba(255, 255, 255, 0.8);
}
.quote::before{
	content: open-quote "วิสัยทัศน์" close-quote;
	display: block;
}
/*.quote::after{
	content: close-quote;
}*/
.quote::before, .quote::after{
    font-size: 5vw;
    line-height: 1;
    color: #c6c6c6;
}
#quote{
	  /*background-image: url(../img/sample/S__11223191.jpg);*/
    background-position: center top ;
    background-repeat: no-repeat;
    background-size: cover;
}
.quote{
    width: 100%;
    margin: 200px auto 100px;
    text-align: center;
    font-weight: bold;
    font-size: 3vw;
    position: relative;
    padding:15px;
    background-color:rgba(255, 255, 255, 0.8);
}
.thumbnail .img-area{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.thumbnail .img-area img{
	width: 100%;
	height: 100%;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.thumbnail .img-area:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}
#contactus{
	background: rgba(29, 29, 29, 0.7);
	color: #ffffff;
}
#contactus a{
	color:#ffffff;

}


.hover-border{
  -webkit-transition: border-color .6s ease-in-out;
  -moz-transition: border-color .6s ease-in-out;
  -o-transition: border-color .6s ease-in-out;
  -ms-transition: border-color .6s ease-in-out;
  transition: border-color .6s ease-in-out;
  width: 250px;
  margin: 15px;
  border: 5px solid #ffffff;
}
.hover-border:hover{
	border: 5px solid #0053ff;
}


/* FOOTER */
.footer{
	background-color: #3b3f81;
	color: #ffffff;
	min-height: 200px;
	padding:15px;
}
.footer a{
	color: #ffffff;
}
.subfooter{
	text-align: center;
	font-size: 14px;
	padding: 15px 0 15px;
}

.topic-footer{
	font-weight: bold;
}
.sub-footer{
	font-size: 14px;
}
.logo-footer{
/*border: 5px solid #ffffff;*/
    /*border-radius: 4px;*/
    margin-top: 12px;
    /*background: #ffffff;*/
    padding: 20PX 5PX;
}
.logo-footer img{
  width: 100%;
}

.footer .footer-telemail{
	font-size: 24px;
}
.footer-social-link{ 
	text-align: center; 
	margin-top: 30px; 
}
.footer-social-link a img{
	margin:10px;
	width: 32px;
}

/* Nav top bar */
a.roll:hover span {
    overflow: visible;
    -webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
    -moz-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
}

.roll span {
    display: block;
    position: relative;
    padding: 0 2px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    /* pointer-events: none; */
    -webkit-pointer-events: none;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    /*overflow: hidden;*/
    height: 22px;
}
.roll span:after {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 0;
    top: 2px;
    padding: 0 2px;
    color: #ef2139;
    background: #fff;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
    -moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}

/* PAGE */
/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
  top: 80px;
  bottom: 85px;
}
.affix-bottom{
  position: absolute
}
.page {
  padding-bottom: 60px;
}
.page h2{
  /*margin-top:30px;*/
  padding-top: 60px;
}
.page img{
  max-width: 100%;
  height: auto;
}
/* About Page */
.org-table{
  width: 100%;
}
.org-table .org-title{
  width: 50%;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  text-align: right;
  vertical-align: top;
}

.page-title{
    /*background: url("../img/sample/sample-parallax01.jpg");*/
    background-size: 100%;
    background-position: center;
    height: 200px;
    text-align: center;
    line-height: 1.6;
    padding: 50px 0;
}
.page-title h1{
   font-size: 50px;
  color: #ed2239;
  text-shadow: 1px 1px 0px #650610;
}